html {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: 'Noto Serif TC', serif;
  color: #633cba;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.content img {
  display: block;
  width: 100%;
  vertical-align: bottom;
}

.content .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .choice a {
  display: block;
  position: relative;
  width: 33.33%;
  margin-bottom: -0.5%;
}

.content .choice a .finger {
  width: 38%;
  position: absolute;
  top: 25%;
  right: 2%;
}

.content .FV {
  position: relative;
}

.content .FV .FV_up {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.content .FV .FV_down01 {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
  z-index: 1;
}

.content .FV .FV_down02 {
  position: absolute;
  bottom: 2.8%;
  left: 0;
  z-index: 2;
}

.content .hukidasi {
  position: relative;
}

.content .hukidasi .hukidasi01 {
  width: 38%;
  position: absolute;
  top: 30%;
  right: 10%;
}

.content .hukidasi .hukidasi02 {
  width: 48%;
  position: absolute;
  bottom: 23%;
  left: 5%;
}

.content .hukidasi .font {
  width: 100%;
  position: absolute;
  bottom: 0%;
  right: 5%;
}

.content .hukidasi p {
  font-size: 3.5rem;
  line-height: 4.5rem;
  text-align: right;
  margin: 3.5rem 3rem;
  letter-spacing: 0.2rem;
}

.content .hukidasi mark {
  background-color: transparent;
  color: inherit;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc3f), to(#ffdc3f));
  background-image: linear-gradient(#ffdc3f, #ffdc3f);
  background-repeat: no-repeat;
  background-size: 0% 50%;
  background-position: 0 100%;
}

.content .hukidasi mark.animate {
  -webkit-animation: 3s fontline ease-in-out forwards;
          animation: 3s fontline ease-in-out forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.content .down_place {
  position: relative;
}

.content .down_place .down {
  width: 25%;
  position: absolute;
  top: 30%;
  left: 37%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: down 2s infinite;
          animation: down 2s infinite;
}

.content .offer_btn {
  position: relative;
}

.content .offer_btn .btn_front {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes fontline {
  to {
    background-size: 100% 50%;
  }
}

@keyframes fontline {
  to {
    background-size: 100% 50%;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 12px);
    transform: translate(0, 12px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 12px);
    transform: translate(0, 12px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media (max-width: 1000px) {
  .content .hukidasi p {
    font-size: 5vw;
    line-height: 6.8vw;
    margin: 7% 5%;
  }
}
/*# sourceMappingURL=style.css.map */